/* ***************************************** Main Div ********************************************** */
.main{
    display: flex;
}

.left{
    width: 200px;
}

.left>*{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.myDrive>img,.star>img,.trash>img{
    height: 20px;
    margin-right: 10px;
    /* margin: 2px; */
}

.myDrive:hover,.star:hover,.trash:hover{
    background-color: rgb(245,245,245);
}

.selected{
    background-color: rgb(232,240,254);
}

.search>img{
    height: 20px;
}
/* ****************************************  Add Folder Button ****************************************************** */

#New {
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 6px;
    width: 100px;
    /* margin-left: 600px; */
    padding: 20px;
    border-radius: 30%;
    cursor: pointer;
}

#New:hover {
    transform: scale(1.02);
}

#newMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15px;
    left: 110px;
    background-color: #fff;
    border: 1px solid black;
    display: none;
}

#newMenu>*{
    margin: 5px;
}


/* ******************************************** Search Bar *********************************************************** */
.search{
    margin: 10px;
    /* margin-top: 10px; */
}

.searchBar{
    background-color: lightgray;
    width: 600px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

/* ***************************************** Bread Crumb ************************************************************* */

#divBreadCrumb {
    border-bottom: 1px solid black;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: calc(100vw - 250px);
}

.path{
    /* background-color: gray; */
    border-radius: 5px;
    /* color: black; */
    cursor: pointer;
    padding: 5px;
    font-size: larger;
    /* border-right: 3px solid black; */
}

.arrow{
    padding: 5px;
    font-size: larger;
    cursor:default;
}

.path:hover{
    background-color: lightgray;
    /* color: blue; */
    /* text-decoration: underline; */
}

/* ************************************************  Div Container *************************************************************** */

#divContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.folder > img{
    height: 80px;
}

.file > img{
    height: 80px;
}


div[purpose=name]{
    /* margin-top: 50px; */
    /* color: white; */
    margin-left: 10px;
    /* word-wrap: break-word; */
    /* overflow: hidden; */
    width: 60px;
    cursor:default;
    /* text-align: center; */
}

/************************* New Folder *******************************************/
.addFolder,.addFile{
    position: absolute;
    left: 40vw;
    top: 40vh;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: none;
    background-color: white;
}

.options{
    margin-left: 100px;
}

#name{
    width: 220px;
}

h2{
    margin: 5px;
}

.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn>*{
    margin: 5px;
}

.more, .more1{
    position: absolute;
    /* left: 100px; */
    margin-left: 50px;
    margin-top: -50px;
    border: 1px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
}

.more>*, .more1>*{
    margin-bottom: 10px;
}
